/** Youtube CSS overrides **/

/** FRONT PAGE FEED **/

/** Displayed while loading, grey boxes **/
#home-page-skeleton {
  display: none !important;
}

/**
 Must use visibility instead of display as otherwise
 it thinks that the user has scrolled and tries to load
 additional feed items repeatedly.
 **/
ytd-browse[role="main"][page-subtype="home"] #contents {
  visibility: hidden !important;
}

/** Without this, the ellipses in videos with too long titles would stay on screen **/
ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer {
  -webkit-line-clamp: none;
}

/** Hide ellipses in body text of "Latest YouTube posts" */
yt-formatted-string #home-content-text.style-scope.ytd-post-renderer {
  -webkit-line-clamp: none;
}
