/** Youtube CSS overrides **/

/** RELATED VIDEOS (SIDEBAR) **/

/** Displayed while loading, grey boxes **/
#related-skeleton, .watch-skeleton {
  display: none !important;
}

ytd-watch-next-secondary-results-renderer {
  visibility: hidden !important;
}

/** Without this, the ellipses in videos with too long titles would stay on screen **/
ytd-compact-video-renderer #video-title.ytd-compact-video-renderer {
  -webkit-line-clamp: none;
}
